#contact {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  background-image: linear-gradient(rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)),
    url('../../assets/lanhua-banner-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}